# Node.js dependencies
node_modules/

# Optional npm cache directory
.npm/

# Optional npm-debug log
npm-debug.log*

# Optional yarn cache directory
.yarn/

# Optional yarn error log
yarn-error.log*

# Environment variables file
.env

# Logs
*.log
logs/

# IDE/Editor specific files
.idea/
.vscode/
*.swp

# Operating system specific files
.DS_Store
Thumbs.db

# Compiled files
dist/
build/
